spring:
  datasource:
    url: jdbc:postgresql://localhost:42001/sms_db
    username: postgres
    password: 1145141919810
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true